<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todos List App with Adonis</title>
  {{ css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css') }}
</head>
<body>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mb-5">
          <div class="card-body">
            <form method="POST" action="{{ route('TodoController.update', { id: todo.id }) }}">
              {{ csrfField() }}
              <h5 class="text-center my-2">Edit todo</h5>
              <input type="text" class="form-control mb-3" value="{{ todo.text }}" name="text" placeholder="Type in todo ..." autofocus>
              @if(hasErrorFor('text'))
                <span class="text-danger">
                  {{ getErrorFor('text') }}
                </span>
              @endif
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>