<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    @section('title')
      Todos App with adonis
    @endsection
  </title>
  {{ css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css') }}
</head>
<body>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        @!section('content')
      </div>
    </div>
  </div>
</body>
</html>